@model IEnumerable<OrderModel>
@{
	ViewData["title"] = "List History Ordered placed by " + ViewBag.UserEmail;
	Paginate paper = new Paginate();
	int pageNo = 0;
	if (ViewBag.Paper != null)
	{
		paper = ViewBag.Paper;
		pageNo = paper.CurrentPage;
	}
}
<h3>Lịch sử mua hàng của email @ViewBag.UserEmail</h3>
<table class="table" id="myTable">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Mã đặt hàng</th>
			<th scope="col">Email</th>
			<th scope="col">Ngày đặt hàng</th>
			<th scope="col">Tình trạng đơn hàng</th>
			<th scope="col">Thao tác</th> <!-- Thêm tiêu đề cột cho các hành động -->
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th> 
				<td>@item.OrderCode</td>
				<td>@item.UserName</td>  <!-- Đây là email -->
				<td>@item.CreatedDate</td>
				<td>
					@if (item.Status == 1)
					{
						<span class="text text-success">Đang xử lí</span>
					}
					else if(item.Status == 2)
					{
						<span class="text text-primary">Đã giao hàng</span>
					}
					else
					{
						<span class="text text-danger">Đã hủy</span>
					}
				</td>
				<td>
					@if(item.Status == 1)
					{
						<a asp-action="CancelOrder" class="btn btn-danger btn-sm confirmCancel" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>

					}
					<a asp-action="ViewOrder" class="btn btn-primary btn-sm " asp-controller="Account" asp-route-ordercode="@item.OrderCode" >Chi tiết</a>

				</td>
			</tr>
		}
	</tbody>
</table>
<script>
	
</script>

