@model IEnumerable<OrderDetails>
@{
	ViewData["title"] = "Order Details";
	decimal total = 0;
	decimal subtotal = 0;

}
<h3>List Order</h3>
<table class="table" id="detail_order">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Order Code</th>
			<th scope="col">Username</th>
			<th scope="col">Product Name</th>
			<th scope="col">Price</th>
			<th scope="col">Quantity</th>
			<th scope="col">Subtotal</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			subtotal = item.Quantity * item.Price;
			total += subtotal;
			<tr>
				<input type="hidden" asp-for="@item.OrderCode" class="getId" />
				<th>@item.Id</th>
				<th>@item.OrderCode</th>
				<td>@item.UserName</td>
				<td>@item.Product.Name</td>
				<td>@item.Price.ToString("#,##0 VND")</td>
				<td>@item.Quantity</td>
				<td>@subtotal.ToString("#,##0 VND")</td>


			</tr>
		}
		<tr>
			<td>Total:</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>@total.ToString("#,##0 VND")</td>
			<td>Shipping cost: @ViewBag.ShippingCost.ToString("#,##0 VND")</td>
			<td>
				@if(ViewBag.Status != 3)
				{
					<select class="form-control select-update-order">
						<option value="1">Đơn hàng mới</option>
						<option value="2">Đã xử lí</option>
					</select>
				
				}
				
			</td>
		</tr>

	</tbody>
</table>

@section Scripts {
	<script>
		new DataTable('#detail_order', {
			layout: {
				topStart: {
					buttons: ['pdf', 'print']
				}
			}
		});
	</script>

	<script>
		$(document).ready(function () {
			$('.select-update-order').change(function () {
				var status = $(this).val();
				var ordercode = $('.getId').val();
				// alert(status);
				// alert(ordercode);

				$.ajax({
					type: "POST",
					url: "@Url.Action("UpdateOrder")",
					data: { status: status, ordercode: ordercode }, // gửi dữ liệu tới server
					success: function (result) {
						if (result.success) {
							Swal.fire("Cập nhật đơn hàng thành công.");
						} else {
							Swal.fire("Cập nhật đơn hàng thất bại.");
						}
					},

				});
			});
		});
	</script>
}
