@model ProductDetailsViewModel
@{
	ViewData["Title"] = "Detail";

}

<style>
	.hover-text-black:hover {
		color: black !important; /* Chuyển màu chữ thành đen khi di chuột */
	}
</style>
<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial");
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.ProductDetails.Image" alt="@Model.ProductDetails.Name" />
					
				</div>
			

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->
					<h2>@Model.ProductDetails.Name</h2>
					
					<span>
						<span>@Model.ProductDetails.Price.ToString("#,##0 VND")</span>
						<label>Số lượng hiện có: </label>
						<input type="text" value="@Model.ProductDetails.Quantity" />
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							@if (Model.ProductDetails.Quantity > 0)
							{
								<button type="button" class="btn btn-primary add-to-cart hover-text-black" asp-controller="Cart" asp-action="Add" data-product_id="@Model.ProductDetails.Id" style="color:white">
									<i class="fa fa-shopping-cart"></i>
									Thêm giỏ hàng
								</button>
							}
							else
							{
								<button type="button" class="btn btn-default" style="margin-bottom:7px">
									Hết hàng
								</button>
							}
						}
						
					</span>
					<p><b>Thương hiệu: @Model.ProductDetails.Brand.Name</b></p>
					<p><b>Danh mục: @Model.ProductDetails.Category.Name</b></p>

					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#details" data-toggle="tab">Chi tiết sản phẩm</a>
					</li>
					<li>
						<a href="#companyprofile" data-toggle="tab">Thông tin thương hiệu</a>
					</li>
					<li>
						<a href="#reviews" data-toggle="tab">Đánh giá</a>
					</li>
				</ul>
			</div>

			<div class="tab-content">
				<!-- Chi tiết sản phẩm -->
				<div class="tab-pane fade active in" id="details">
					@Html.Raw(Model.ProductDetails.Description)
				</div>

				<!-- Thông tin thương hiệu -->
				<div class="tab-pane fade" id="companyprofile">
					@Html.Raw(Model.ProductDetails.Brand.Description)
				</div>

				<!-- Đánh giá sản phẩm -->
				<div class="tab-pane fade" id="reviews">
					<form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="post">
						<span>
							<input type="hidden" asp-for="@Model.ProductDetails.Id" name="ProductId" />
							<input name="Star" type="hidden" value="4" />
							<input asp-for="@Model.Name" type="text" placeholder="Your Name" />
							<span asp-validation-for="@Model.Name" class="text-danger"></span>
							<input asp-for="@Model.Email" name="Email" type="email" placeholder="Email Address" />
							<span asp-validation-for="@Model.Email" class="text-danger"></span>
						</span>
						<textarea asp-for="@Model.Comment"></textarea>
						<span asp-validation-for="@Model.Comment" class="text-danger"></span>
						<b>Rating: </b>
						<img src="images/product-details/rating.png" alt="" />
						<button type="submit" class="btn btn-default pull-right">Submit</button>
					</form>

					<!-- Hiển thị danh sách bình luận -->
					<div class="reviews-list">
						@if (Model.ProductDetails.Ratings != null && Model.ProductDetails.Ratings.Any())
						{
							@foreach (var rating in Model.ProductDetails.Ratings)
							{
								<div class="review-item">
									<h4>@rating.Name</h4>
									<p>@rating.Comment</p>
									<br />
									<b>Rating: @rating.Star / 5</b>
								</div>
								<hr />
							}
						}
						else
						{
							<p>Chưa có đánh giá nào cho sản phẩm này.</p>
						}
					</div>

				</div>
			</div>

		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">Related Products</h2>

			<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						@foreach(var relatedProduct in ViewBag.RelatedProducts as IEnumerable<ProductModel>)
						{
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">

										<div class="productinfo text-center">
											<a asp-action="Details" asp-controller="Product" asp-route-Id="@relatedProduct.Id">
												<img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name" width="100%" />
												<h2>@relatedProduct.Price.ToString("#,##0 VND")</h2>
												<p>@relatedProduct.Name</p>
												<p>Danh mục: @relatedProduct.Category.Name</p>
												<p>Thương hiệu: @relatedProduct.Brand.Name</p>
											</a>
									
										</div>

									</div>
								</div>
							</div>
						}
						
						
					
			
				</a>
			</div>
		</div><!--/recommended_items-->

	</div>
</div>
@section Scripts{
			<script>
				$(document).ready(function () {
					$('.add-to-cart').click(function () {
						var Id = $(this).data("product_id");
						$.ajax({
							type: "POST",
							url: "@Url.Action("Add", "Cart")",
							data: {
								Id: Id,

							},
							success: function (result) {
								if (result.success) {
									Swal.fire("Thêm giỏ hàng thành công.");
								} else {
									Swal.fire("Thêm giỏ hàng hàng thất bại.");
								}
							},

						});
					});
				});
			</script>
}